body {
    background-color:  #F7F7F7;
}
@font-face {
    font-family: 'Inter', sans-serif;
}
.movies {
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 33px;
    width: 1010px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.movie-card {
    display: flex;
    width: 454px;
    height: 281px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.movie-card__poster {
    object-fit: cover;
}
.movie-card__info {
    margin: 12px 20px;
}
.movie-card__title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.movie-card__date {
    color: #827E7E;
    font-size: 12px;
    line-height: 22px;
    margin: 7px 0 0 0;
}
.movie-card__genres {
    display: flex;
    gap: 8px;
}
.movie-card__genres--genre {
    margin: 7px 0 0 0;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    padding: 2px 5px;
}
.movie-card__description {
    margin: 7px 0 0 0;
    font-size: 12px;
    line-height: 22px;
}
.spinner {
    text-align: center;
    width: 100%;
}
.error-message {
    margin: 0 auto;
    width: 70%;
}
